* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

html {
    background-color: #ffffff;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 300;
}

.clearfix {
    zoom: 1
}

aside {
    position: relative;
}

.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 90%;
    margin: 0 auto;
}

/* Header css rules */

header {
    position: relative;
}

.header__top-container {
    position: fixed;
    width: 100%;
    z-index: 30;
    background: white;
}

.header__top-container--shadow {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}

nav {
    height: 100px;
    width: 100%;
}

.header__logo {
    height: 90px;
    width: 90px;
}

.header__form-input {
    padding: 8px;
    border: 1px solid #d8b027;
    border-radius: 4px 0 0 4px;
    width: 304px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
}

.header__submit {
    padding: 8px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #d8b027;
    background-color: #d8b027;
    background-image: url(../img/search.png);
    background-size: 21px 21px;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}

.header__input-nav {
    float: left;
}

.header__customized-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__form-input::placeholder {
    font-family: 'Montserrat';
    font-size: 11px;
    color: #000;
    font-weight: 500;
}

.header__nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__nav-list-container {
    list-style: none;
}

.header__nav-list {
    display: inline-block;
    text-decoration: none;
    margin: 0px 4px;
}

.header__nav-link:link, .header__nav-link:visited {
    text-decoration: none;
    color: #000;
    font-family: Montserrat;
    font-size: 12px;
    margin-right: inherit;
    font-weight: 500;
}

.header__nav-link:hover {
    color: #CAAA3B;
}

.header--outlined {
    border: 1px solid #CAAA3B;
    padding: 8px 25px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.header--outlined:hover {
    color: white;
    background: #CAAA3B;
}

.header__avatar {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header__side-list {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0;
}

.header__nav__list {
    text-decoration: none;
    font-family: Monserrat;
    padding: 0 17px;
}

.header-nav-icon {
    margin-left: 12px;
}

.greeting {
    font-size: 12px;
    font-weight: 400;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user__name {
    color: red;
}

.hero {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: linear-gradient( rgba(243, 0, 0, 0.57), rgba(243, 0, 0, 0.57)), url(../img/hero-about.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__box {
    position: absolute;
    top: 23%;
    left: 15%;
}

.hero__title {
    font-weight: 400;
    line-height: 32px;
    font-size: 24px;
    color: #fff;
}

.hero__title {
    padding-bottom: 12px;
}

input:focus {
    outline: none;
}

.greeting--bg {
    color: white
}

.user__name--bg {
    color: white;
}

.header__nav-link--bg:link, .header__nav-link--bg:visited {
    color: #fff;
}

.header__nav-link--bg:hover {
    color: #d8b027;
}

.header--outlined:hover {
    color: white
}

/*style items (options):*/

.header__top-container--shadow {
    background: url(../img/header__bar.jpg);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}

.btn {
    border: 1px solid #CAAA3B;
    height: 40px;
    width: 200px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #000;
    font-weight: 500;
    background: #fff;
    cursor: pointer;
}

.hero--btn {
    background: #E6B712;
    color: #fff;
}

.about__outer-wrapper {
    position: relative;
    left: 5%;
}

.about__container {
    position: relative;
    transform: translateY(-16%);
    padding-right: 10%;
    -webkit-transform: translateY(-16%);
    -moz-transform: translateY(-16%);
    -ms-transform: translateY(-16%);
    -o-transform: translateY(-16%);
}

.about__title {
    border-radius: 4px;
    background: #fff;
    padding: 18px 0;
    width: 285px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 22px;
    font-weight: 500;
}

.about__text-content {
    font-weight: normal;
    line-height: 26px;
    font-size: 16px;
    text-transform: capitalize;
    padding: 16px 24px 58px 16px;
    margin-left: 24px;
    border-bottom: 2px solid #CAAA3B;
}

.about__lower-wrapper-box {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(243, 0, 0, 0.29);
}

.about__lower-inner-box-wrap {
    height: 150px;
    width: 150px;
    background: #CAAA3B;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about__lower-inner-box-wrap p {
    font-weight: 500;
    line-height: 29px;
    font-size: 16px;
    color: white;
}

.about__lower-section {
    display: flex;
    align-items: center;
    padding-top: 16px;
}

.about__lower-txt-content {
    font-weight: normal;
    line-height: 22px;
    font-size: 14px;
    text-transform: capitalize;
    color: #333333;
}

.about__lower-txt-content:nth-child(1) {
    padding-bottom: 12px;
}

.about__low-text--wrap {
    padding: 0 66px;
}

.img__section {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/success.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about__lower-section {
    padding-bottom: 60px;
}

.img__section-title {
    font-weight: 600;
    line-height: 32px;
    font-size: 24px;
    text-transform: capitalize;
}

.img__section-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-section__container {
    display: flex;
    justify-content: center;
}

.btn__img-section {
    background: #E6B712;
    width: 400px;
    color: #fff;
}

.img__section-title {
    font-weight: 400;
    line-height: 43px;
    font-size: 24px;
    color: #fff;
    text-transform: capitalize;
}

.section__row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.small__border {
    border-bottom: 6px solid red;
    width: 24px;
    margin: 3px 0 16px 7px
}

.section__left-title {
    font-size: 22px;
    font-weight: 500;
    line-height: 5px;
}

.section__left_txt-content {
    font-weight: normal;
    line-height: 25px;
    font-size: 14px;
    text-transform: capitalize;
    padding: 16px 3% 16px 0;
}

.section__left-container, .section__right-container {
    width: 50%;
}

.section__left-container {
    margin-right: 5%;
}

.section-rows {
    padding-top: 84px;
    padding-bottom: 24px;
}

.section__right-container {
    position: relative;
    padding-left: 1%;
    width: 50%;
    height: 63vh;
    margin-left: 5%;
}

.section-row__first-bg {
    background: #E6B712;
    width: 90%;
    height: 90%;
    position: absolute;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.section-row__second-bg {
    width: 90%;
    height: 90%;
    position: absolute;
    border-radius: 4px;
    z-index: 3;
    background: url(../img/shake-hands.jpg);
    background-position: 100% 100%;
    background-size: cover;
    right: 0;
    bottom: 0;
}

.section-right-container--adjusted {
    padding-left: 0;
    margin-left: 0;
    margin-right: 5%;
}

.section-row__first-bg--adjusted {
    position: absolute;
    top: 0;
    right: 0;
}

.section__left-container--adjusted {
    margin-left: 5%;
    margin-right: 0;
    padding-right: 2%;
}

.section-row__second-bg--adjusted {
    bottom: 0;
    left: 0;
    background: url(../img/bis-circle.jpg);
    background-position: 100% 100%;
    background-size: cover;
}

.section__left_txt-content--adjusted {
    padding-right: 22%;
    position: relative;
    margin-left: 5%;
}

.section__left_txt-content--adjusted::before {
    content: url(../img/gold-dot.svg);
    position: absolute;
    left: -5%;
}

.rows__stacked {
    border-bottom: 1px solid #CAAA3B;
    padding-bottom: 44px;
}

.people__content-box {
    width: 50%;
    text-align: center;
    padding: 16px;
    padding-bottom: 32px;
}

.user__specifics {
    line-height: normal;
    line-height: 25px;
    font-size: 14px;
    padding-bottom: 9px;
}

.image__container{
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(243, 0, 0, 0.4);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    margin-bottom: 24px;
    margin-top: 24px;
}

.image__container img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.people__content-box-outer{
    display: flex;
    align-items: center;
}

.people__content-box-outer--left{
    margin-right: 4%;
}

.people__content-box-outer--right{
    margin-left: 4%;
}


section.footer {
    background-color: #414040;
}

.footer-inner{
    display: flex;
    justify-content: space-between;
    padding: 17px 0;
}

.footer li{
    list-style: none;
    font-size: 12px;
    white-space: nowrap;
    line-height: 22px;
}

.footer-inner li a,
.footer-inner li:visited{
    color: white;
    text-decoration: none;
}


.left-space{
    margin-left: 6%;
}

span.ios,
span.android {
    margin-top: 5px;
    display: inline-block;
    width: 170px;
    height: 60px;
    background-color: #000;
    border-radius: 4px;
}

.colored-list {
    color: #d8b027;
}


.copy {
    color: white;
    font-size: 12px;
}

section.footer {
    position: relative;
    background-color: #414040;
    padding: 17px 0;
    overflow: hidden;
}

.follow__p{
    font-size: 12px;
    margin-top: 29px;
    color: #fff;
}

.powered{
    text-align: right;
    margin-top: 33px;
    font-size: 12px;
    color: #fff;
    float: right;
    margin-right: 115px;
}

.logo-by,
.icon-small{
    vertical-align: middle;
}

.icon-small{
    margin: 0 7px;
}


.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 59px;
    width: 100%;

}

.contact .one, .contact .two{
    line-height: 25px;
}

.one {
    width: 16%;
    align-self: center;
}

.contact p {
    font-size: 12px;
    line-height: 26px;
    font-weight: 500;
}

.one p img, .two p img {
    vertical-align: middle;
    margin-left: -2px;
    margin-right: 4px;
}

.two {
    width: 16%;
    align-self: center
}

.three {
    margin-left: 50px;
}

#send{
    padding: 11px;
    border: 0px;
    border-radius: 0 4px 4px 0;
    background-color: #d8b027;
    background-image: url(../img/sent-mail.png);
    background-size: 21px 21px;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}

.four{
    white-space: nowrap;
}

#mail{
    padding: 9.5px;
    width: 250px;
    font-size: 11px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #d8b027;
}

.contact__container{
    padding: 14px 0;
    background: rgba(243, 243, 243, 0.8);
}


.yb{
    height: 116px;
    width: 288px;
    right: -10px;
    bottom: -10px;
    position: absolute;
    z-index: 99;
}

.by{
    height: 116px;
    width: 288px;
    right: -105px;
    bottom: 10px;
    z-index: 1;
    transform: rotate(90deg);
    position: absolute;
}

.last__section{
    padding-bottom: 20px;
}

.people__section-container{
    padding-top: 48px;
}

.section-row__second-bg--readjusted{
    background: url(../img/stone.jpg);
    background-position: 100% 100%;
    background-size: cover;
}